/* Home */

.home-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Render Texte */

.render-text p {
    font-size: 7em;
    font-weight: 500;
    text-align: center;
}

/* Show Cross */

.show-cross {
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
    .cross {
        position: relative;
        width: 300px;
        height: 300px;
}
  
    /* Créer la croix avec des pseudo-éléments */
    .cross::before,
    .cross::after {
        content: "";
        position: absolute;
        background-color: rgb(255, 255, 255); /* Couleur de la croix */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    /* Barre horizontale */
    .cross::before {
        width: 100%;
        height: 20px; /* Épaisseur de la barre */
    }
    
    /* Barre verticale */
    .cross::after {
        height: 100%;
        width: 20px; /* Épaisseur de la barre */
}

/* Shape */
.shape {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    }

    .square {
        width: 300px;
        height: 300px;
    }

    .circle {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    .triangle {
        width: 0;
        height: 0;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
}

/* Select Shape */

.select-shape {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }

    .select-shape-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 600px; /* Ajustez la largeur maximale selon vos besoins */
    }